<h1>Detalles de la respuesta</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>¿Que respondio?</th>
            <td>
                {% if entity.getChallenge().getType().getId() != 2 %}
                    {{ entity.answer }}
                {% else %}
                    {% render "AmexTriviaBundle:UserAnswer:galeria" with {'json':entity.answer} %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Tiempo</th>
            <td>{{ entity.responseTime }}</td>
        </tr>
        <tr>
            <th>Respuesta</th>
            <td>{% if entity.rightAnswer %}correcto{% else %}mal{% endif %}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('administrator') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('administrator_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('administrator_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
