{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<div class="desafio">
    <div class="pregunta">
        {{ question |raw }}
    </div>
    <form action="{{ path('amex_trivia_desafio') }}" method="post" {{ form_enctype(form) }}>
        <div class="opciones">
            {{ consigna |raw }}
            <div class="opcion">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="enviarLogin">
            <input type="submit" value="Cargar" />
        </div>
    </form>
    <div class="ayuda">
        {{ ayuda | raw }}
    </div>
</div>
{% endblock %}