{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<div class="trivia">
    <div class="pregunta">
        {{ question | raw }}
    </div>
    <div class="opciones">
        {% for opcion in answer %}
            <div class="opcion">
                <img src="{{ asset('bundles/amextrivia/images/opcion'~loop.index~'.png')}}" alt="A" />
                <a href="{{ path('amex_trivia_trivia_resultado',{'respuesta':loop.index}) }}">
                    {{opcion}}
                </a>
            </div>
        {% endfor %}        
    </div>
    {% if ayuda %}
        <div class="ayuda">
            Ayuda: "{{ ayuda }}"
        </div>
    {% endif %}
</div>
{% endblock %}