{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<div class="trivia">
    <div class="pregunta">
        {{ question | raw }}
    </div>
    <div class="opciones">
        <div class="opcion">
            <a href="{{ path('amex_trivia_trivia_resultado',{'respuesta':1}) }}">
                <img src="{{ asset('bundles/amextrivia/images/verdadero.png')}}" alt="Verdadero" />
            </a>
            <a href="{{ path('amex_trivia_trivia_resultado',{'respuesta':0}) }}">
                <img src="{{ asset('bundles/amextrivia/images/falso.png')}}" alt="Falso" />
            </a>
        </div>
    </div>
    {% if ayuda %}
        <div class="ayuda">
            Ayuda: "{{ ayuda }}"
        </div>
    {% endif %}
</div>
{% endblock %}