<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>AMEX MAIL MOTIVADOR</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <!-- Save for Web Slices (AMEX MAIL MOTIVADOR.jpg) -->
        <table id="Tabla_01" width="650" height="933" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="3">
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_01.png" width="650" height="120" alt=""></td>
            </tr>
            <tr>
                <td>
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_02.png" width="33" height="108" alt=""></td>
                <td width="584" height="108" style="text-align: center;background-color: #050608;color:#f7bb25;font-size: 90px; font-family:'Times New Roman';">
                    {{ userName }}
                </td>
                <td>
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_04.png" width="33" height="108" alt=""></td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_05.png" width="650" height="200" alt=""></td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_06.png" width="650" height="257" alt=""></td>
            </tr>
            <tr>
                <td colspan="3">
                    <img src="{{ baseUrl }}bundles/amextrivia/images/email/AMEX-MAIL-MOTIVADOR_07.png" width="650" height="248" alt=""></td>
            </tr>
        </table>
        <!-- End Save for Web Slices -->
    </body>
</html>
